<div class="container">
  <h1>Tweet away (for a rainy day!)</h1>
    <form action="/submit_tweet" method="POST"> 
      <label for="user_input">Tweet here! <input type="text" name="user_input"></input></label><br>
      <br>
      <input type='submit' id="submit" value="submit"></input>
    </form>
</div>
